@model PagedList.IPagedList<Model.EF.User>
@using PagedList.Mvc
@{
    ViewBag.Title = "Manage users";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}



@section header{

    <div class="panel panel-default">

        <div class="panel-heading" style="margin-left:-12px;margin-bottom:20px">
            User List
        </div>

        <div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" id="myModelBody">

                </div>
            </div>
        </div>

        <!-- /.panel-heading -->
        <div class="panel-body">
            @using (Html.BeginForm("Index", "User", FormMethod.Get))
            {
                <div class="row form-group" style="margin-left:-25px">
                    <div class="col-4">
                        <input type="text" value="@ViewBag.SearchString" class="form-control" name="searchString" style="width:300px" />
                    </div>
                    <div class="col-8" style="margin-left:-125px">
                        <button type="submit" class="btn btn-success">Search</button>
                        @*<a class="btn btn-primary" href="/Admin/User/Create">Add new</a>*@
                        <a class="btn btn-primary" onclick="createNewUser()">Add new</a>
                        <input id="btnDelete" class="btn btn-danger" type="submit" value="Delete" />
                    </div>
                </div>

                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" name="allcheck" id="checkAll" /></th>
                                    <th>Username</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Status</th>
                                    <th></th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr id="row_@item.ID">
                                        <td><input type="checkbox" name="userDelete" class="userDelete" value="@item.ID" /></td>
                                        <td>@item.UserName</td>
                                        <td>@item.Name</td>
                                        <td>@item.Email</td>
                                        <td><a href="#" class="btn-active" data-id="@item.ID ">@(item.Status ? "Actived" : "Lock")</a></td>

                                        <td>
                                            @*<a href="/Admin/User/Edit/@item.ID">Edit</a>*@
                                            <a href="#" onclick="editUser(@item.ID)">Edit</a>
                                            |
                                            @Ajax.ActionLink("Delete", "Delete", new { @id = item.ID }, new AjaxOptions
                                       {
                                           Confirm = "Do you want to delete this record?",
                                           OnComplete = "$('#row_" + @item.ID + "').remove()",
                                           HttpMethod = "Delete"
                                       })

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
                    </div>
                </div>
            }
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
    </div>

}

@section jsFooter{
    <script type="text/javascript">
        function createNewUser() {
            $.get("/Admin/User/CreateNewUser", function (res) {
                $("#myModelBody").html(res);
                $("#myModal").modal('show');
            })
        }

        function createUser() {
            var modal = $("#myModal");
            var form = $('form[name="userForm"]');

            form.validate();
            if (!form.valid()) {
                return;
            } else {
                var data = form.serialize();
                $.post("/Admin/User/CreateUser", data, function (res) {
                    if (res == true) {
                        window.location.href = "/Admin/User/Index";
                    }
                })
            }
        }

        function editUser(id) {
            $.get("/Admin/User/EditUser", { id: id }, function (res) {
                $("#myModelBody").html(res);
                $("#myModal").modal('show');
            })
        }

        function updateUser(id) {
            
            var form = $('form[name="userForm"]');
            var newForm = form.append('<input name="ID" value="' + id + '" /> ');           
            form.validate();
            if (!form.valid()) {
                return;
            } else {
                var data = newForm.serialize();
                $.post("/Admin/User/UpdateUser", data, function (res) {
                    if (res == true) {
                        window.location.href = "/Admin/User/Index";
                    }
                })
            }
        }
    </script>

    <script type="text/javascript">
        function openSuccessModal(strMessage) {
            var myDiv = document.getElementById("MyModalSuccessAlertBody");
            myDiv.innerHTML = strMessage;
            $('#myModalSuccess').modal('show');
        }
        $(document).ready(function () {
            var msg = "@TempData["SuccessMessage"]";
            if (msg)
                openSuccessModal(msg);
        });
    </script>

    <script type="text/javascript">

        $("#checkAll").click(function () {
            $("input[type=checkbox]").prop('checked', $(this).prop('checked'));
        });

        $("input[name='userDelete']").click(function () {
            if (!$(this).prop("checked")) {
                $("#checkAll").prop("checked", false);
            }
        });

        $("input[name='userDelete']").click(function () {
            if ($("input[name='userDelete']").length == $("input[name='userDelete']:checked").length) {
                $("#checkAll").prop("checked", "checked");
            }
            else {
                $("#checkAll").removeProp("checked");
            }
        });


    </script>


    <script src="/assets/admin/js/controller/userController.js"></script> }






