
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var slides = (List<Model.EF.Slide>)ViewBag.Slides;
    var listNewProducts = (List<Model.EF.Product>)ViewBag.NewProducts;
    var listFeatureProduct = (List<Model.EF.Product>)ViewBag.FeatureProducts;
}


<!-- Start Categories of The Month -->
<section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Product New</h1>
            <p>
                These are our new product launches this month.
            </p>
        </div>
    </div>
    <div class="row">
        @foreach (var item in listNewProducts)
        {
            var url = "/detail/" + item.MetaTitle + "-" + item.ID;
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="@url"><img src="@item.Image" class="rounded-circle img-fluid border" alt="@item.Name"></a>
                <h5 class="text-center mt-3 mb-3">@item.Name</h5>
                <p class="text-center"><a href="@url" class="btn btn-success">Go Shop</a></p>
            </div>
        }
    </div>
</section>
<!-- End Categories of The Month -->
<!-- Start Featured Product -->
<section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Featured Product</h1>
                <p>
                    These are our best sellers this month
                </p>
            </div>
        </div>
        <div class="row">
            @foreach (var item in listFeatureProduct)
            {
                var url = "/detail/" + item.MetaTitle + "-" + item.ID;
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="@url">
                            <img src="@item.Image" class="card-img-top" alt="@item.Name">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                </li>
                                <li class="text-muted text-right">@item.Price</li>
                            </ul>
                            <a href="@url" class="h2 text-decoration-none text-dark">@item.Name</a>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt in culpa qui officia deserunt.
                            </p>
                            <p class="text-muted">Reviews(@item.ViewCount)</p>
                        </div>
                    </div>
                </div>}
        </div>
    </div>
</section>
<!-- End Featured Product -->

@section JsFooter {

    <script type="text/javascript">
        function openSuccessModal(strMessage) {
            var myDiv = document.getElementById("MyModalSuccessAlertBody");
            myDiv.innerHTML = strMessage;
            $('#myModalSuccess').modal('show');
        }
        $(document).ready(function () {
            var msg = "@TempData["SuccessMessage"]";
            if (msg)
                openSuccessModal(msg);
        });
    </script>
}